@import '../css/style.css';

.transition {
    transition: all 0.3s ease-in-out;
}

/* Добавьте этот код только на странице fullscreen.html */
body {
    opacity: 0;
}

body.loaded {
    opacity: 1;
}
